.coins-table-wrapper {
    position: relative;
    min-width: 920px;
    width: 100%;
    max-width: 1100px;
    padding: 0 15px;
    margin: 0 auto;
    overflow: hidden;
}
.coins-table-wrapper:hover {
    overflow-y: auto;
} 
.coins-table {
    max-width: 100%;
    width: 100%;
    min-width: 900px;
    border-collapse: collapse;
    text-align: center;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.coins-table__header {
    /* display: none; */
    height: 36px;
    background-color: rgba(0,0,0,.05)
}
.coins-table__tbody {
    /* display: block; */
    width: 100%;
}
.coins-table__cell {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.coins-table__cell--name {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.coins-table__row-content {
    background-color: transparent;
    transition: 0.8s;
}
.coins-table__row-content:hover {
    background-color: rgba(0,0,0,.05)
}
@media (min-width: 320px) and (max-width: 950px) {
    .coins-table-wrapper {
        min-width: 320px;
        width: 100%;
        max-width: 500px;
        height: auto;
        padding: 0px;
        margin: 0 auto;
        overflow: visible;
    }
    .coins-table {
        width: 100%;
        min-width: auto;
    }
    .coins-table__cell--mobile-none {
        display: none;
    }
}