.coins-table-wrapper {
    position: relative;
    min-width: 920px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.3);
}
.coins-table {
    display: block;
    position: relative;
    max-width: 100%;
    width: 100%;
    min-width: 900px;
    border-collapse: collapse;
    text-align: center;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.coins-table__header-row {
    display: flex;
    width: 100%;
    height: 36px;
    background-color: rgba(0,0,0,.05)
}
.coins-table__header, .coins-table__tbody {
    display: block;
    width: 100%;
}
.coins-table__tbody {
    height: 400px;
    overflow: hidden;
}
.coins-table__tbody:hover {
    overflow-y: overlay;
}
.coins-table__row-content {
    display: flex;
    width: 100%;
}
.coins-table__cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.coins-table__cell--name {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.coins-table__row-content {
    background-color: transparent;
    transition: 0.8s;
}
.coins-table__row-content:hover {
    background-color: rgba(0,0,0,.05)
}
@media (min-width: 320px) and (max-width: 920px) {
    .coins-table-wrapper {
        min-width: 320px;
        width: 100%;
        max-width: 500px;
        height: auto;
        padding: 0px;
        margin: 0 auto;
        box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.75);
    }
    .coins-table {
        width: 100%;
        min-width: auto;
    }
    .coins-table__tbody {
        height: auto;
    }
    .coins-table__cell {
        /* width: 50%; */
        flex-grow: 1;
    }
    .coins-table__cell--mobile-none {
        display: none;
    }
}