.coins-table {
    min-width: 900px;
    border-collapse: collapse;
    text-align: center;
}
.coins-table__header {
    background-color: rgba(0,0,0,.05)
}
.coins-table__cell {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}
.coins-table__cell--name {
    display: flex;
    flex-direction: column;
    text-align: left;
}